h1, h2, h3, h4, h5, h6 {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: white;
}

body {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: white;
}

input[type="text"], textarea {
outline: none;
box-shadow:none !important;
border:0px solid #ccc !important;
}

body {
  background-color: #B1CCA8;
}
